:root {
  --theme-color-1: #f0f9ff;
  --theme-color-2: #cfeaff;
  --theme-color-3: #a6d5ff;
  --theme-color-4: #7dbeff;
  --theme-color-5: #54a4ff;
  --theme-color-6: #2b88fe;
  --theme-color-7: #1a66d9;
  --theme-color-8: #0c49b3;
  --theme-color-9: #03318c;
  --theme-color-10: #011f66;
}
